# Byte-compiled / compiled / dynamic Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
__pypackages__/
.pdm-build/
.pybuild/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Type checkers
.mypy_cache/
.pyre/
.pytype/
.dmypy.json
dmypy.json

# Linters / formatters
.ruff_cache/

# Jupyter
.ipynb_checkpoints

# IDE / Editor
.idea/
.vscode/
*.iml
.python-version

# OS files
.DS_Store
Thumbs.db

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Environments
.env
.env.*
.venv
venv/
ENV/
env/
*venv

# Celery
celerybeat-schedule
celerybeat.pid

# Docs (Sphinx/pdoc output)
site/
docs/_build/
docs/api/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local overrides
.pyproject.local.toml
memo.txt
